{% extends "base.html" %}

{% block title %} Patient List {% endblock %}


{% block body %}

<div class="p-3">
	<h4>Patient List</h4>
</div>

{% include './list_page_utility_bar.html' %}

<div class="p-3">
	<table class="table table-hover bg-light bg-gradient rounded shadow">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Age</th>
				<th scope="col">Contact No.</th>
				<th scope="col">Detail</th>
			</tr>
		</thead>
		<tbody>
			{% for patient in patients %}
			<tr>
				<td>{{ patient.id }}</td>
				<td>
					{{ patient.first_name }} {{ patient.last_name }}
				</td>
				<td>{{ patient.age }}</td>
				<td>{{ patient.phone_no }}</td>
				<td>
					<a href="{% url 'patient' patient.id %}" class="btn btn-sm btn-outline-secondary"
						role="button">View</a>
				</td>
			</tr>
			{% empty %}
			<div class="alert alert-warning" role="alert">
				<h4 class="mx-2">No Patients Found</h4>
				<a href="/patients/" class="btn btn-secondary mx-2" role="button">View All Patients</a>
			</div>
			{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}