<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
</head>

<body>
	<p>
		<b>{{ event }}</b> at {{ now }}.
	</p>
	<table border style="height: 300px; width: 400px;">
		<tr>
			<th>Patient Name</th>
			<td>
				{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
			</td>
		</tr>
		<tr>
			<th>Doctor</th>
			<td>
				{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}
			</td>
		</tr>
		<tr>
			<th>Date</th>
			<td>{{ appointment.date }}</td>
		</tr>
		<tr>
			<th>Time</th>
			<td>{{ appointment.time }}</td>
		</tr>
	</table>
	<br>
	{% if is_delete == False %}
	<div>
		<button
			style="border: 1px solid darkslategray; background-color: lightskyblue; padding: 10px; border-radius: 5px;">
			<a href="{{ appointment_edit }}" style="text-decoration: none; color: white;">
				Edit
			</a>
		</button>
	</div>
	{% endif %}
</body>

</html>