<div class="bg-white" id="sidebar-wrapper">
	<div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
		<i class="far fa-hospital me-2"></i>
		Curewell
	</div>
	<div class="list-group list-group-flush my-3">
		{% if active == 'dashboard' %}
		<a href="/" class="list-group-item list-group-item-action bg-transparent second-text active">
			<i class="fas fa-tachometer-alt me-2"></i>
			Dashboard
		</a>
		{% else %}
		<a href="/" class="list-group-item list-group-item-action bg-transparent second-text">
			<i class="fas fa-tachometer-alt me-2"></i>
			Dashboard
		</a>
		{% endif %}
		{% if active == 'patient' %}
		<a href="/patients/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold active">
			<i class="fas fa-user-injured me-2"></i>
			Patients
		</a>
		{% else %}
		<a href="/patients/" class="list-group-item list-group-item-action bg-transparent second-text">
			<i class="fas fa-user-injured me-2"></i>
			Patients
		</a>
		{% endif %}
		{% if active == 'doctors' %}
		<a href="/doctors/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold active">
			<i class="fas fa-user-md me-2"></i>
			Doctors
		</a>
		{% else %}
		<a href="/doctors/" class="list-group-item list-group-item-action bg-transparent second-text">
			<i class="fas fa-user-md me-2"></i>
			Doctors
		</a>
		{% endif %}
		{% if active == 'appointment' %}
		<a href="/appointments/"
			class="list-group-item list-group-item-action bg-transparent second-text fw-bold active">
			<i class="fas fa-calendar-check me-2"></i>
			Appointments
		</a>
		{% else %}
		<a href="/appointments/" class="list-group-item list-group-item-action bg-transparent second-text">
			<i class="fas fa-calendar-check me-2"></i>
			Appointments
		</a>
		{% endif %}
		<hr class="dropdown-divider" />
		<a href="/admin/" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
			<i class="fas fa-user-cog me-2"></i>
			Admin
		</a>
		<a href="/admin/logout/" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
			<i class="fas fa-power-off me-2"></i>
			Logout
		</a>
	</div>
</div>