{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="row g-3 my-2">
	{% if user.is_superuser %}
	<div class="col-md-3">
		<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
			style="cursor: pointer;" as="nav-link">
			<div>
				<h3 class="fs-2 money">
					&#8377;
					{% if total_sales != None %}
					{{ total_sales }}
					{% else %}
					0
					{% endif %}
				</h3>
				<p class="fs-5">Sales</p>
			</div>
			<i class="fas fa-rupee-sign fs-1 primary-text border rounded-full secondary-bg p-3"></i>
		</div>
	</div>
	{% endif %}
	<div class="col-md-3">
		<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
			style="cursor: pointer;">
			<div>
				<h3 class="fs-2">{{ total_patients }}</h3>
				<p class="fs-5">Patients</p>
			</div>
			<i class="fas fa-user-injured fs-1 primary-text border rounded-full secondary-bg p-3"></i>
		</div>
	</div>
	<div class="col-md-3">
		<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
			style="cursor: pointer;">
			<div>
				<h3 class="fs-2">{{ total_appointments }}</h3>
				<p class="fs-5">Appointments</p>
			</div>
			<i class="fas fa-calendar-check fs-1 primary-text border rounded-full secondary-bg p-3"></i>
		</div>
	</div>
	<div class="col-md-3">
		<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
			style="cursor: pointer;">
			<div>
				<h3 class="fs-2">{{ total_doctors }}</h3>
				<p class="fs-5">Doctors</p>
			</div>
			<i class="fas fa-user-md fs-1 primary-text border rounded-full secondary-bg p-3"></i>
		</div>
	</div>
</div>
{% include './recent_patients.html' %}
{% include './recent_appointments.html' %}
{% endblock %}