name: Deploy to Heroku

on:
  push:
    branches: [master, dev]
    
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
      DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
      DATABASE_HOST: ${{ secrets.DATABASE_HOST }}
      EMAIL_HOST_USER: ${{ secrets.EMAIL_HOST_USER }}
      EMAIL_HOST_PASSWORD: ${{ secrets.EMAIL_HOST_PASSWORD }}
      HOST: ${{ secrets.HOST }}
      TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
      TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
      TWILIO_PHONE_NUMBER: ${{ secrets.TWILIO_PHONE_NUMBER }}
      CONSULTATION_FEE: ${{ secrets.CONSULTATION_FEE }}
      REDIS_URL: ${{ secrets.REDIS_URL }}
      REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
      SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Sets env vars for trigger on master
        run: |
          echo "HEROKU_APP_NAME=curewell" >> $GITHUB_ENV
        if: github.ref == 'refs/heads/master'

      - name: Sets env vars for trigger on dev
        run: |
          echo "HEROKU_APP_NAME=curewell-dev" >> $GITHUB_ENV
        if: github.ref == 'refs/heads/dev'

      - name: Release.
        uses: jctaveras/heroku-deploy@v1.0.0
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          api_key: ${{ secrets.HEROKU_API_KEY }}
          app_name: ${{ env.HEROKU_APP_NAME }}
          dockerfile_path: ./

